<div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="20px grid"
    class="experience"
>
    <mat-card
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        fxFlex="80%"
        class="gradient-border experience__card"
    >
        <div fxFlex="100%" class="experience__title">
            <h1 class="aboutMe">
                <span>E</span>
                <span>x</span>
                <span>p</span>
                <span>e</span>
                <span>r</span>
                <span>i</span>
                <span>ê</span>
                <span>n</span>
                <span>c</span>
                <span>i</span>
                <span>a</span>
            </h1>
        </div>
        <section
            fxLayout="row wrap"
            fxLayoutAlign="center center"
            fxLayoutGap="20px grid"
        >
            <div fxFlex="100%">
                <div class="experience__cursos">
                    <h2 class="title-color">Growdev</h2>
                    <h3 class="title-color" style="font-size: 18px">
                        Cargo: Desenvolvedor Web Full Stack
                    </h3>
                    <p>
                        Essa experiência foi incrível onde tive o prazer de trabalhar
                        junto com os meus mentores do Bootcamp que realizei na própria
                        Growdev. Tínhamos uma daily diária para ver as entregas do dia
                        anterior e programar as entregas que seriam feitas no dia,
                        realizava atualizações no site da empresa e ajudava no
                        desenvolvimento de produtos internos. Trabalhei bastante em
                        produtos de clientes atuando mais com React, Material UI e
                        Bootstrap. Tecnologias ReactJs, javascript, PostgreSQL.
                    </p>
                </div>
            </div>
            <div fxFlex="100%">
                <div class="experience__cursos">
                    <h2 class="title-color">Sirros Iot</h2>
                    <h3 class="title-color" style="font-size: 18px">
                        Cargo: Desenvolvedor Web Full Stack
                    </h3>
                    <p>
                        Foi na Sirros onde consegui consolidar o básico em programação, os
                        vários projetos em que trabalhei se mostraram ótimos desafios.
                        Mesmo no início não tendo conhecimento nas tecnologias que
                        utilizavam consegui aprender o básico para trabalhar e sempre tive
                        ajuda de meus colegas. Trabalho montando desde as coleções no
                        banco, requisições e front-end. Tecnologias AngularJs, Mongodb,
                        Node-Red.
                    </p>
                </div>
            </div>
        </section>
    </mat-card>
</div>
