mat-sidenav-container {
    // se não for definido uma altura para o container ele não aparece
    height: 100%;
}
mat-sidenav {
    width: 300px;
    border-right: none;
    padding: 16px 40px;
    text-align: center;
    overflow: hidden;
}
.mat-drawer-content {
    overflow: hidden;
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name {
    margin: 12px 0;
    font-weight: normal;
}
.designation {
    margin-top: 2px;
    font-size: 0.8rem;
}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
#title-toolbar {
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(
        to right,
        rgb(76, 217, 105),
        rgb(52, 170, 220),
        rgb(88, 86, 217),
        rgb(255, 45, 83),
        rgb(255, 45, 83),
        rgb(88, 86, 217),
        rgb(52, 170, 220),
        rgb(76, 217, 105)
    );
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.box {
    box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
}
.box:after,
.box:before {
    mix-blend-mode: multiply;
    filter: none;
    z-index: -1;
    content: '';
    width: calc(100% + (50px * 2));
    height: calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform: translateX(-50px) translateY(-50px);
}
@keyframes border {
    0%,
    100% {
        -webkit-clip-path: polygon(
            0 0,
            calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
            100% 100%,
            calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
        );
        clip-path: polygon(
            0 0,
            calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
            100% 100%,
            calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
        );
    }
    50% {
        -webkit-clip-path: polygon(
            calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
            100% 0,
            calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
            0 100%
        );
        clip-path: polygon(
            calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
            100% 0,
            calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
            0 100%
        );
    }
}
.box:after {
    animation-delay: -5s;
    background-color: #93e1d8;
    clip-path: polygon(
        0 0,
        calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
        100% 100%,
        calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
}
.box:before {
    background-color: #aa4465;
    clip-path: polygon(
        calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
        100% 0,
        calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
        0 100%
    );
}
