.about {
    margin: 3em 0 !important;
    &__card {
    }
    &__perfil {
        margin: 2em 0 0 0;
        .img-perfil {
            width: 150px;
            border-radius: 50%;
        }
    }
    &__redesSociais {
        margin: 0.5em 0 1em 0;
        .img-redes {
            margin: 0 10px;
            width: 30px;
            border-radius: 50%;
        }
    }
    &__divider {
        margin-bottom: 4em;
    }
    &__about-me {
        margin: 2em 2em 2em 2em;
        .aboutMe {
            margin-bottom: 1.5em;
        }
        p {
            text-align: justify;
        }
    }
    &__hobbies {
        padding: 1em 2em;
        .aboutMe {
            margin-bottom: 1.5em;
        }
    }
}
