.content {
    margin: 2em 0;
}
.content > mat-card {
    width: 300px;
    padding: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__imgContact {
        margin: 30px 0;
    }
    &__ImgPerfil {
        margin: 0 60px 0 20px;
        img {
            border-radius: 50%;
        }
    }
    &__info {
        line-height: 25px;
    }
    &__infoContact {
        margin: 10px 0;
    }
}
.title-color {
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(
        to right,
        rgb(76, 217, 105),
        rgb(52, 170, 220),
        rgb(88, 86, 217),
        rgb(255, 45, 83),
        rgb(255, 45, 83),
        rgb(88, 86, 217),
        rgb(52, 170, 220),
        rgb(76, 217, 105)
    );
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.gradient-border {
    --border-width: 3px;
    border-radius: var(--border-width);

    &::after {
        position: absolute;
        content: '';
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
    }
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
.aboutMe span {
    font-size: 25px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    display: inline-block;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc,
        0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
        0 10px 10px rgba(255, 255, 255, 0.4);
    animation: quebradinha 0.9s ease infinite alternate;
}
.aboutMe span:nth-child(2) {
    animation-delay: 0.1s;
}
.aboutMe span:nth-child(3) {
    animation-delay: 0.2s;
}
.aboutMe span:nth-child(4) {
    animation-delay: 0.3s;
}
.aboutMe span:nth-child(5) {
    animation-delay: 0.4s;
}
.aboutMe span:nth-child(6) {
    animation-delay: 0.5s;
}
.aboutMe span:nth-child(7) {
    animation-delay: 0.6s;
}
.aboutMe span:nth-child(8) {
    animation-delay: 0.7s;
}
.aboutMe span:nth-child(9) {
    animation-delay: 0.8s;
}

@keyframes quebradinha {
    100% {
        top: -5px;
    }
}
