<div class="content">
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px grid">
        <div fxFlex="45%">
            <mat-card class="card gradient-border">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div
                        fxLayout="row"
                        fxLayoutAlign="space-around center"
                        class="card__imgContact"
                    >
                        <div class="card__ImgPerfil">
                            <img
                                src="../../../assets/img/diogoPerfil.jpg"
                                alt="Imagem de perfil"
                            />
                        </div>
                        <div class="card__info">
                            <h2 class="title-color">Diogo da Silva de Paula</h2>
                            <h4>09/11/1994</h4>
                            <div class="card__infoContact">
                                <p>Telefone: (51) 99829-0815</p>
                                <p>depaulatrabalhos@gmail.com</p>
                            </div>
                            <div>
                                <p>Rua Novo Hamburgo 1242</p>
                                <p>Dois Irmãos/RS</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1 class="aboutMe">
                                <span>S</span>
                                <span>o</span>
                                <span>b</span>
                                <span>r</span>
                                <span>e</span>
                                <span style="margin: 0 5px"></span>
                                <span>m</span>
                                <span>i</span>
                                <span>n</span>
                            </h1>
                        </div>
                        <div style="margin: 1em 0 2em 0; max-width: 600px">
                            <p>
                                Apresento facilidade de comunicação com as pessoas,
                                trabalho bem em equipe e possuo disposição e vontade de
                                aprender novas habilidades ou adquirir mais capacitação.
                                Gosto de desafios. Tenho capacidade de solucionar
                                problemas. Sou determinado em terminar o que começo,
                                procurando ser eficiente e pontual na entrega de
                                trabalhos. Sou uma pessoa positiva e motivada a dar o
                                melhor de mim nas tarefas propostas. Gosto de conhecer
                                pessoas novas, pois penso que sempre a algo novo para se
                                aprender, ideias diferentes para escutar e evoluir
                                pessoalmente.
                            </p>
                        </div>
                        <div>
                            <h1 class="aboutMe">
                                <span>H</span>
                                <span>o</span>
                                <span>b</span>
                                <span>b</span>
                                <span>i</span>
                                <span>e</span>
                                <span>s</span>
                            </h1>
                        </div>
                        <div style="margin: 1em 0 1em 0; max-width: 600px">
                            <p>Games | Musculação | Ler | Séries</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
