.about {
    margin: 3em 0 !important;
    &__card {
    }
    &__perfil {
        margin: 2em 0 0 0;
        .img-perfil {
            width: 150px;
            border-radius: 50%;
        }
    }
    &__redesSociais {
        margin: 0.5em 0 1em 0;
        .img-redes {
            margin: 0 10px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            &:hover {
                transform: scale(1.5);
                transition: 0.5s;
            }
        }
        .lin {
            width: 37px;
            height: 37px;
        }
    }
    &__info {
        line-height: 25px;
        position: relative;
        @media all and (max-width: 960px) {
            margin-bottom: 0.5em;
            text-align: center;
        }
    }
    &__infoContact {
        margin: 1em 0;
    }
    &__divider {
        margin-bottom: 4em;
        position: absolute;
        top: 15.5em;
        @media all and (max-width: 960px) {
            top: 28em;
        }
    }
    &__about-me {
        margin: 2em 2em 2em 2em;
        .aboutMe {
            margin-bottom: 1.5em;
        }
        p {
            text-align: justify;
        }
    }
    &__hobbies {
        padding: 1em 2em;
        .aboutMe {
            margin-bottom: 1.5em;
        }
    }
}
